body {
  font-family: helvetica;
  background-color:	#99DCD7;
  margin: 0px;
}


#nav {
  display: flex;
}
img{
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 2px;
  width: 100px;
  height: 100px;
}
#left{
color: black;
font-size: 24px;
}
#left li{
  padding: 10px;
  padding-top: 14px;
  padding-bottom: 6px;
  float: left;
  display: block;
}
#left_list{
  width: 70%;
  clear: right;
}
#right{
  color: black;
  font-size: 24px;
}
#right li{
  padding: 22px;
  padding-bottom: 28px;
  padding-top: 17px;
  float: right;
  display: block;
}
#right_list{
  width: 30%;
  float: right;
  clear: left;
}
#left_list ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #99DCD7;
  position: fixed;
  top: 0px;
  width: 70%;
}
#right_list ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #99DCD7;
  position: fixed;
  top: 0px;
  width: 30%;
}
#nav a:link,#nav a:visited{
  color: white;
  display: block;
  margin-top: 25px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Raleway', sans-serif;
}
#nav a:hover{
  color: hotpink;
}
#home {
  padding-left: 50px;
}
h1 {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 1vw;
  max-width: 60vw;
  font-size: 6vw;
  text-align: center;
  color: black;
  font-family: 'Raleway', sans-serif;
}
#about {
  font-size: 1.15vw;
  max-width: 40vw;
  text-align: center;
  margin: auto;
  color: black;
  margin-bottom: 5vw;
}
#headerpodcastlinks{
  font-size: 3vw;
  text-align: center;
  margin-top: 5vw;
  font-family: 'Raleway', sans-serif;
}
#podcastlinks {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 4vw;
}
div.orlisten {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3vw;
  line-height: 7px;
  color: black;
}
a:link, a:visited {
  line-height: 30px;
  color: black;
  text-decoration: none;
  padding: 8px;
  margin: 12px;
  text-align: center;
}
a:hover, a:active {
  line-height: 30px;
  color: hotpink;
  text-decoration: none;
  padding: 8px;
  margin: 12px;
  text-align: center;
}
div.contact {
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 18px;
  display: solid;
}
#footer {
  color: black;
  text-align: center;
  font-size: 1vw;
  margin-top: 80px;

}
div.form{
  text-align: center;
  margin-bottom: 0px;
}
.aboutt {
  background-color:#8FD995;
  padding: 2vw;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.aboutt p {
  max-width: 25vw;
  margin-left: 24vw;
  margin-top: 3vw;
  margin-right: 1vw;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.35vw;
}

.column img {
  max-width: 24vw;
  margin-left: 1vw;
  margin-top: 3vw;
  margin-right: 20vw;
  width: 24vw;
  height: 28vw;

}

.aboutt h2 {
  margin-top: 0vw;
  margin-bottom: 0vw;
  text-align: center;
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
}
.button a:link, .button a:visited{
  text-decoration: none;
  background-color: #8FD995;
  border: none;
  color: white;
  padding: 1vw 2.5vw;
  font-size: 1.75vw;
  margin-bottom: 5vw;
  border-radius: 1vw;
  transition-duration: 0.4s;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
}

.button{
  text-align: center;
}

.button a:hover, .button a:active {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-decoration: none;
  background-color: pink;
  border: none;
  color: white;
  padding: 1vw 2.5vw;
  font-size: 1.75vw;
  margin-bottom: 5vw;
  border-radius: 1vw;
  transition-duration: 0.4s;
  font-family: 'Raleway', sans-serif;
  text-align: center;  
}